<div class="container topOffset border-left border-right bg-white">
  <h1 class="text-info">Ввод данных</h1>

  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-info text-white">
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-5">
              <div class="input-group inputOffset">
                <div class="input-group-prepend">
                  <span class="input-group-text">Имя</span>
                </div>
                <input type="text" class="form-control" value="{{apiParams.user.name}}" [(ngModel)]="apiParams.user.name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="input-group inputOffset">
                <div class="input-group-prepend">
                  <span class="input-group-text">Возраст</span>
                </div>
                <input type="number" class="form-control" value="{{apiParams.user.age}}" [(ngModel)]="apiParams.user.age" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10">
              <div class="input-group inputOffset">
                <div class="input-group-prepend">
                  <span class="input-group-text">Компания</span>
                </div>
                <input type="text" class="form-control" value="{{apiParams.user.company}}" [(ngModel)]="apiParams.user.company" >
              </div>
            </div>
          </div>


          <div class="row">

            <div class="col-sm-12">
              <a class="btn btn-secondary bg-info float-right text-white" (click)="this.insertUser();" >Сохранить</a>
              <a routerLink="" class="btn"><<Назад</a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>



