<div class="container topOffset border-left border-right bg-white">
  <h1 class="basicColor">Ассортимент булочной</h1>

  <div style="display: table; margin-top: 50px;">

    <div style="display: table-row; background: rgb(250, 250, 250)" class="field">
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Товарный код
      </div>
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Тип продукта
      </div>
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Дата/время изготовления
      </div>
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Текущая цена
      </div>
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Контрольный срок продажи
      </div>
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Следующая цена
      </div>
      <div style="display: table-cell; padding: 5px 20px 5px 20px; text-align: center; font-weight: bold" class="field">
        Осталось до изменения
      </div>
    </div>

    <div style="display: table-row" *ngFor="let buns of apiParams.buns; let i=index;">
      <div style="display: table-cell" class="field" >
        {{buns.productNumber}}
      </div>
      <div style="display: table-cell" class="field" >
        {{apiParams.types[buns.type].nameType}}
      </div>
      <div style="display: table-cell" class="field">
        {{dateString[i].startDate}}
      </div>
      <div style="display: table-cell" class="field">
        {{buns.rate}}
      </div>
      <div style="display: table-cell" class="field">
        {{buns.storageLife}}
      </div>
      <div style="display: table-cell" class="field">
        {{dateString[i].nextRate}}
      </div>
      <div style="display: table-cell" class="field">
        {{dateString[i].remainsTime}}
      </div>
    </div>

  </div>

</div>

