
.basicBackground {
  background: #FFA500;
}

.basicColor {
  color: #8B4513;
}

.field {
  padding: 5px 20px 5px 20px;
  text-align: center;
  border-right: solid 1px #eee;
  border-bottom: solid 1px #eee
}
